@font-face {
font-family: 'Helvetica';
  src: url('2afedaab5a5177410b408023384af22d.eot');
  src: url('2afedaab5a5177410b408023384af22d.eot?#iefix') format('embedded-opentype'),
  url('2afedaab5a5177410b408023384af22d.woff2') format('woff2'),
  url('2afedaab5a5177410b408023384af22d.woff') format('woff'), 
  url('2afedaab5a5177410b408023384af22d.ttf') format('truetype'),
  url('2afedaab5a5177410b408023384af22d.svg#Helvetica Neue LT W01 55 Roman') format('svg');
}